/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  flex: 1 0 auto;
  max-width: calc(30% - 10px);
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image:hover {
  opacity: 0.8;
}

