/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  flex: 1 0 auto;
  max-width: calc(30% - 10px);  
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image:hover {
  opacity: 0.8;
}


.feedback-form {  
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  width: 408px;
  height: 296px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #FFFFFF;
}

.feedback-form label {
  display: block; 
  color: #2E2F42;
}

.feedback-form input {
  display: block;
  width: 360px;
  height: 40px;  
  border-width: 1px;
  border-radius: 5px;
  color: #2E2F42;
  border-color: #808080;
}

/* Стилізація для введень (inputs) */

.form input[type="email"],
.form textarea {
  /* Додайте кольори тексту і фону */
  color: #333;
  background-color: #f8f8f8;

  /* Змініть розмір текстових елементів */
  font-size: 14px;

  /* Додайте внутрішні відступи */
  padding: 8px;

  /* Змініть вигляд рамки */
  border: 1px solid #ccc;
  border-radius: 4px;

  /* Змініть зовнішній вигляд при фокусі */
  outline: none;
  box-shadow: 0 0 3px #007bff;
  /* Приклад тіні при фокусі */
}

/* Стилі для введення при фокусі */
.form input[type="email"]:focus,
.form textarea:focus {
  border-color: #007bff;
  /* Зміна кольору рамки при фокусі */
}

.feedback-form button {
  margin-top: 16px;
  width: 86px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #4E75FF;
}



