/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;  
}

/* СТИЛІ ДЛЯ ГАЛЕРЕЇ ЗОБРАЖЕНЬ */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-item {
  flex: 1 0 auto;
  max-width: calc(30% - 10px);  
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image:hover {
  opacity: 0.8;
}

/* СТИЛІ ДЛЯ ФОРМИ */
form {
  display: block;
  flex-direction: column;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  width: 408px;
  height: 296px;  
  border-radius: 8px;  
  background-color: #FFFFFF;
}

form label {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #2E2F42;  
}

/* Стилі Форми при введенні */
form input {
  width: 360px;
  height: 40px;  
  border-width: 1px;
  border-radius: 5px;  
  color: #2E2F42;
  border-color: #808080;
}

form input[type="email"],
form textarea {
  width: 360px;
  font-size: 14px;
  padding: 8px;
  outline: none;
  border-radius: 4px;  
  background-color: #f8f8f8;
}

form input[type="email"] {
  height: 40px;
  margin-bottom: 8px;
}

form textarea {
  height: 80px;
  resize: none; /* Щоб користувач не міг змінити розмір */
  box-shadow: none;
}

/* Стилі для Форми при фокусі */
form input[type="email"]:hover {
  border-color: #000000; 
}

form button {
  margin-top: 16px;
  width: 86px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #4E75FF;
}

form button[type="submit"]:hover {
  background-color: #6C8CFF;
  opacity: 0.8;
}



